<div class="container">
    <div class="row">
      <div class="col mt-2 mb-4">
        <h2>Products</h2>
      </div>      
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Origin</th>
              <th scope="col">Temperament</th>
              <th scope="col">Colors</th>
              <th scope="col">Description</th>
              <th scope="col">Image</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of listProducts">
              <td>{{product.name}}</td>
              <td>{{product.origin}}</td>
              <td>{{product.temperament}}</td>
              <td>{{product.colors}}</td>
              <td>{{product.description}}</td>
              <td><img [src]="product.image"></td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


